{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "overrides": [],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/react-in-jsx-scope": 0,
    "default-param-last": 0,
    "react/jsx-props-no-spreading": 0,
    "import/prefer-default-export": 0,
    "import/no-cycle": "warn",
    "react/prop-types": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/alt-text": 0,
    "react/button-has-type": "warn",
    "react/no-array-index-key": "warn",
    "jsx-a11y/no-autofocus": 0,
    "react/no-unescaped-entities": "warn",
    "import/no-extraneous-dependencies": 0,
    "consistent-return": "warn",
    "radix": 0,
    "no-cond-assign": 0,
    "no-param-reassign": "warn",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "array-callback-return": 0,
    "no-nested-ternary": "warn",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  },
  "ignorePatterns": ["**/public/**"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
